<form action="https://buttondown.com/api/emails/embed-subscribe/cterdam"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.com/cterdam', 'popupwindow')"
      class="subscribe-form">

  <input type="email"
         id="bd-email"
         name="email"
         placeholder="you@example.com"
         aria-label="Email address"
         required
         class="textfield">

  <button type="submit" class="btn btn--primary">Subscribe</button>
  <input type="hidden" name="embed" value="1">
</form>
