---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Make avatar square */
.author__avatar > img,
.page__author .author__avatar > img,
img.u-photo {
  border-radius: 15%;
  width: auto;
  height: auto;
}

/* hide the "Powered by ..." line */
.page__footer .page__footer-copyright {
  display: none;
}

/* Make footer icons align right-to-left */
.page__footer-follow,
.page__footer-follow .social-icons {
  display:flex;
  justify-content:flex-end;
}

/* Subscribe form */
.embeddable-buttondown-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
}
.embeddable-buttondown-form label,
.embeddable-buttondown-form input {
  width: 100%;
  max-width: 300px;
  text-align: center;
  box-sizing: border-box;
}
.embeddable-buttondown-form .textfield {
  padding: 0.5em;
}
.embeddable-buttondown-form .btn {
  padding: 0.5em;
  border-radius: 0.5em;
}
